/********keyframes*******/
@keyframes slide-up {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-left {
  from {
    transform: translateX(-80rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleY {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1.1);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

/*******animaciones*******/

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

/*******hero*******/
.text-info h1 {
  animation: slide-left 0.8s ease-in;
}

/*******about*******/
.about-text {
  animation: fade 0.8s ease-in forwards, scale 1.1s linear;
  animation-delay: 0.2s;
}

/*******cards*******/
.info-cards {
  animation: fade 0.8s ease-in forwards, slide-up 1s ease-out;
}

.info-cards:nth-child(1) {
  animation-delay: 0.2s;
}

.info-cards:nth-child(2) {
  animation-delay: 0.3s;
}

.info-cards:nth-child(3) {
  animation-delay: 0.4s;
}

/*******login y register form*******/
.main form {
  animation: fade 0.5s ease-in-out backwards, scale 1.2s linear;
  animation-delay: 0.4s;
}
