/********keyframes*******/
@keyframes slide-up {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-left {
  from {
    transform: translateX(-80rem);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

/*******animaciones*******/

html {
  scroll-behavior: smooth;
  scroll-padding-top: 12rem;
}

/*******hero*******/
.text-info h1 {
  animation: slide-left 1s ease-in;
}

/*******about*******/
.about-text {
  animation: fade 0.8s ease-in forwards, slide-up 0.9s linear;
  animation-delay: 0.2s;
}

/*******cards*******/
.info-cards:hover {
  animation: scale 0.8s linear;
  animation-delay: 0.3s;
}

/*******contacto*******/
.mapa:hover {
  animation: scale 0.8s linear;
}

/*******login y register form*******/
.main form {
  animation: fade 0.5s ease-in-out backwards, scale 1.2s linear;
  animation-delay: 0.4s;
}
