@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800;900&display=swap");

:root {
  --bg-white: #fff;
  --bg-grey: #e6e6e6;
  --bg-dark: #222626;
  --color-pink: #ff005c;
  --text-white: #fff;
  --text-grey: #272727;

  --text-h1: 26px;
  --text-h2: 24px;
  --text-h3: 20px;
  --text-p: 14px;
  --text-nav: 12px;
  --text-hero: 32px;
  --text-btn: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--bg-white);
  width: 100%;
}

/*******TABLET*******/
@media (max-width: 992px) {
  main {
    width: 100%;
  }

  /*******NAVBAR*******/
  #navbar {
    gap: 5px;
  }

  .nav {
    position: absolute;
    top: 60px;
    left: 5%;
    right: 5%;
    max-width: 90%;
    flex-direction: column;
    background: var(--bg-white);
    border: 1px solid #666666;
    border-top: 0;
    border-radius: 0px 0px 15px 15px;
    padding: 25px 15px;
    gap: 50px;
    z-index: 2;
    display: none;
  }

  .menu-label {
    display: flex;
    order: 2;
    cursor: pointer;
  }

  .menu-label img {
    height: 25px;
    width: 25px;
  }

  #menu-toggle:checked + .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }

  .logo {
    padding-right: 220px;
  }

  .login,
  .register {
    color: var(--text-grey);
    width: 100px;
  }

  .login:hover,
  .register:hover {
    background-color: var(--bg-white);
    color: var(--color-pink);
  }

  /*******HERO*******/
  #hero {
    height: 450px;
    background-image: none;
    background-color: var(--bg-grey);
  }

  .text-info {
    width: 90%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    color: var(--text-grey);
  }

  .text-info h1 {
    font-weight: 700;
  }

  /*******ABOUT*******/
  #about {
    height: 500px;
  }

  .about-text {
    width: 90%;
    text-align: center;
  }

  .about-text h2 {
    font-size: 22px;
    font-weight: 700;
  }

  /*******CARDS*******/
  #cards {
    height: 1550px;
    gap: 50px;
  }

  .cards-container {
    flex-direction: column;
    height: 1300px;
  }

  .info-cards {
    width: 70%;
    height: 600px;
    font-size: 22px;
  }

  #cards h2 {
    font-size: 22px;
  }

  .info-cards h3 {
    font-size: 18px;
  }

  .icons {
    max-width: 50%;
  }

  /*******CONTACTO*******/
  #contacto {
    flex-wrap: wrap;
    flex-direction: column;
    background-image: none;
    background-color: var(--bg-grey);
    height: 650px;
  }

  .contact-text {
    background: none;
  }

  .contact-text h2 {
    font-size: 20px;
  }

  /*******FOOTER*******/
  .footer .footer-list {
    gap: 15px;
  }

  /*******LOGIN Y REGISTER*******/
  .main {
    background-image: none;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    background-color: var(--bg-grey);
  }

  .logo__webs {
    padding-right: 500px;
  }
}

/****************************************************************/
/*******MOBILE*******/
@media (max-width: 576px) {
  .logo {
    padding-right: 200px;
  }

  /*******HERO*******/
  #hero {
    height: 400px;
    background-image: none;
  }

  .text-info h1,
  .text-info span {
    font-size: 20px;
  }

  /*******ABOUT*******/
  #about {
    height: 550px;
    background-position: center;
  }

  /*******CARDS*******/
  #cards {
    height: 1500px;
    gap: 20px;
  }

  .cards-container {
    flex-direction: column;
  }

  .info-cards {
    height: 450px;
    padding: 15px;
  }

  .icons {
    max-width: 80%;
  }

  /*******CONTACTO*******/
  #contacto {
    height: 500px;
    gap: 15px;
  }

  .contact-text {
    width: 70%;
    background: none;
  }

  iframe {
    width: 300px;
    height: 200px;
  }

  /*******FOOTER*******/

  footer .footer-list {
    flex-direction: column;
    gap: 10px;
  }

  /*******LOGIN Y REGISTER*******/
  .main {
    height: 500px;
  }

  .logo__webs {
    padding-right: 200px;
  }
}
